<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sefaria.sefaria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        tools:replace="android:name"
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/sefaria_icon"
        android:label="@string/app_name"
        android:theme="@style/SefariaTheme.White">
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.TextActivity"
            android:label="@string/app_name"></activity>

        <receiver
            android:name=".database.UpdateReceiver"
            android:enabled="true"></receiver>

        <service
            android:name=".database.UpdateService"
            android:enabled="true">
            <action android:name="com.torahsummary.betamidrash.UpdateService" />
        </service>

        <activity
            android:name=".activities.TOCActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.SectionActivity"
            android:label="@string/app_name"

            android:taskAffinity=""

            >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="http" android:host="sefaria.org"/>
                    <data android:scheme="http" android:host="www.sefaria.org"/>
                </intent-filter>
            </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name"></activity>

        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow"> </uses-library>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
    </application>

</manifest>
